.GNB{
    text-align: center;
    margin: 0;
    height: inherit;
}

.GNB li{
    height: inherit;
    display: inline-block;
}

.GNB li a{
    position: relative;
    padding: 15px;
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block
}

.GNB li a span{
    position: absolute;
    top: 10px;
    right: -7px;
    pointer-events: none;
    color: var(--color_main);
    font-size: 10px;
}

@media (max-width: 767px){
    .GNB li{
        display:none;
    };
}
