@import "./reset.css";

html,body{
    width: 100%;
    height: 100%;
}

body{
    font-size: 14px;
    color: #333333;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::before,*::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

button{
    background-color: transparent;
    border: none;
}

:root{
    --color_main: #3366FF;
}
/* button{
    cursor: pointer;
    width: fit-content;
    box-shadow: none;
    border: none;
    background-color: var(--color_main);
    color: white;
}

button:hover, button:focus{
    opacity: 0.6;
}

textarea{
    resize: none;
    padding: 6px 10px;
}

input[type="text"]{
    width: 100%;
    padding: 6px 10px;
}

input{
    font-size: 14px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
} */