.slider-area{
    position: relative;
    overflow: hidden;
    height: auto;
}
.slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slider-list{
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
}

.slider-track{
    position: relative;
    position: relative;
    left: 50%;
    top: 0;
    display: flex;
    flex-direction: row;
    text-align: left;
    width: fit-content;
    /* transition: -webkit-transform 500ms ease 0s; */
    /* transition: transform 500ms ease 0s; */
}

.slider-auto{
}

.slider-item{
    position: relative;
    height: 100%;
    padding: 0 12px;
    float: left;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.btn-slide-control{
    position: absolute;
    top: calc(50% - 30px);
    padding: 20px 4px;
    z-index: 1;
    background-color: white;
    width: 30px;
    height: 60px;
    opacity: .5;
    border-radius: 15px;
}

.btn-prev{
    transform: rotate(180deg);
    left : calc((100% - 1200px) / 2)
}

.btn-next{
    right: calc((100% - 1200px) / 2);
}

.slider-item div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    color: white;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
}
.slider-item span{
    font-size: 18px;
    margin-bottom: 1rem ;
}
.current-slide{
    -webkit-filter: none;
    filter: none;
}